extends layout.pug

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/question-page.css")
  //- add page specific js
  script(src="/javascripts/questions.js" type="module" defer)

append questionButton
   div#ask-question-container
          a#ask-question-button(href='/ask-question') Ask Question

block content
  div(class="container")
    div(class="page_content")
      div(class="question_content")
        h1(id="title")= question.title
        p(class='user_info' style='text-align: right; color: black; font-weight: normal;') Asked by #[a.user_info= question.User.username]
        hr
        p= question.content
      h2 Answers

      div.answers_container
        each answer in answers
          div(class="answers_section")
            div(class="votes")
              if locals.authenticated
                button.upVote.button_votes(data-answerid=answer.id, data-id=answer.id+'up', data-votetype="upVote")
                  img.resize(src='../triangular-filled-up-arrow.png')
              else
                form(method='get' action="/users/login")
                  button.button_votes
                      img.resize(src='../triangular-filled-up-arrow.png')
              span(class='vote_count' data-id=answer.id+'span')= answer.dataValues.Votes
              if locals.authenticated
                button.downVote.button_votes(data-answerid=answer.id, data-id=answer.id+'down' data-votetype="downVote")
                  img.resize(src='../down-filled-triangular-arrow.png')
              else
                form(method='get' action="/users/login")
                  button.button_votes
                      img.resize(src='../down-filled-triangular-arrow.png')
            div(class='single_answers_container')
              div(class="single_answers")= answer.dataValues.content
              p(class='answered_by' style='text-align: center') Answered by #[a.user_info= answer.User.username]


      if locals.authenticated
        //- +validationErrorSummary(errors)
        h2#yourAnswerHeader Your Answer
        form(id='answer_to_question')
          input(type='hidden' name='_csrf' value=csrfToken)
          input(type='hidden' name='questionId' value=question.id)
          +field('', 'answer', answer, 'textarea', 'Write your answer here')
          div
            button(type='submit' id="answer_button") Post Your Answer
            a(href='/') Cancel
