extends layout.pug

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/question-page.css")
  //- add page specific js
  script(src="/javascripts/questions.js" type="module" defer)

block content
  div(class="container")
    div(class="page_content")
      div(class="question_content")
        h1(id="title")= question.title
        hr
        p= question.content
      h2 Answers
      each answer in answers
        div(class="answers_section")
          div(class="votes")
            button(class="button_votes")
              svg(width="36" height="36" viewBox="0 0 36 36")
                path(d="M2 26h32L18 10 2 26z")
            span(class='vote_count') Votes #{votes_count}
            button(class="button_votes")
              svg(width="36" height="36" viewBox="0 0 36 36")
                path(d="M2 10h32L18 26 2 10z")
          div(class="single_answers")= answer.dataValues.content
      if locals.authenticated
        h2 Your Answer
        form(id='answer_to_question')
          input(type='hidden' name='_csrf' value=csrfToken)
          input(type='hidden' name='questionId' value=question.id)
          +field('', 'answer', 'Write your answer here', 'textarea', null, id)
          div
            button(type='submit' id="answer_button") Answer this Question
            a(href='/') Cancel

//- if a user is logged in, they should see the form prompt
