mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null, id)
  div
    label(for=fieldName)= labelText
    div
      if fieldType === 'textarea'
        textarea(id=id name=fieldName rows='5')= fieldValue
      else
        input(type=fieldType name=fieldName value=fieldValue placeholder=placeholder id=id)

mixin validationErrorSummary(errors)
  if (errors)
    div(class='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li(type="none")= error
